# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
libs
eclipse
run
runs
run-data
logs
repo
*.sh
*.log
*.lock
*.old

*.jar
# still allow gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.jar
